beautifulsoup4==4.8.2
blinker==1.4
Brlapi==0.7.0
certifi==2019.11.28
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.4.3
command-not-found==0.3
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distro==1.4.0
entrypoints==0.3
evdev==1.3.0
ghp-import==2.0.2
hidpidaemon==18.4.6
html5lib==1.0.1
httplib2==0.14.0
idna==2.8
importlib-metadata==4.11.1
Jinja2==3.0.3
kernelstub==3.1.4
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libvirt-python==6.1.0
livereload==2.6.1
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Markdown==3.3.6
MarkupSafe==2.1.0
mergedeep==1.3.4
mkdocs==1.2.3
mkdocs-material==5.2.3
mkdocs-material-extensions==1.0.3
netifaces==0.10.4
oauthlib==3.1.0
olefile==0.46
packaging==21.3
Pillow==7.0.0
pop-transition==1.1.2
protobuf==3.15.0
pycairo==1.16.2
pycups==1.9.73
pydbus==0.6.0
Pygments==2.11.2
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
pymdown-extensions==9.2
PyNaCl==1.3.0
pyparsing==3.0.7
pyRFC3339==1.1
python-apt===2.1.2pop0-1587756471-20.04-cd2988e
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-magic==0.4.16
python-xlib==0.23
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
pyyaml_env_tag==0.1
repoman==1.2.2
requests==2.22.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
sessioninstaller==0.0.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.14.0
soupsieve==1.9.5
system76driver==20.4.48
systemd-python==234
tornado==5.1.1
ubuntu-advantage-tools==27.6
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.25.8
wadllib==1.3.3
watchdog==2.1.6
webencodings==0.5.1
xkit==0.0.0
zipp==3.7.0
