[package]
name = "sailfish-compiler"
version = "0.0.5"
authors = ["Ryohei Machida <orcinus4627@gmail.com>"]
description = "Really fast, intuitive template engine for Rust"
homepage = "https://github.com/Kogia-sima/sailfish"
repository = "https://github.com/Kogia-sima/sailfish"
readme = "../README.md"
keywords = ["markup", "template", "html"]
categories = ["template-engine"]
license = "MIT"
workspace = ".."
edition = "2018"

[lib]
name = "sailfish_compiler"
doctest = false

[features]
default = []
procmacro = []

[dependencies]
memchr = "2.3.3"
quote = { version = "1.0.6", default-features = false }
yaml-rust = "0.4.4"

[dependencies.syn]
version = "1.0.21"
default-features = false
features = ["parsing", "full", "visit-mut", "printing", "clone-impls", "extra-traits"]

[dependencies.proc-macro2]
version = ">=1.0.11, <=1.0.18"
default-features = false
features = ["span-locations"]

[dev-dependencies]
pretty_assertions = "0.6.1"
